[Unit]
Description=Check MLS aflow stream every 30 seconds

[Timer]
OnBootSec=90
OnUnitActiveSec=30
AccuracySec=2
Unit=mls-aflow-watchdog.service
Persistent=false

[Install]
WantedBy=timers.target
